.color-info {
  width: 14rem;
  grid-area: 2 / 2;
}

.color-info__sample {
  margin: 0 1em;
  text-transform: uppercase;
}

@media(min-width: 600px) {
  .color-info {
    grid-area: 1 / 1;
    justify-self: end;
  }
}

