.color-info {
  grid-area: 3 / 2;
  justify-self: end;
  align-self: end;
}

.color-info__sample {
  margin: 1em;
  text-transform: uppercase;
  display: block;
}

@media (min-width: 600px) {
  .color-info {
    grid-area: 1 / 1;
    align-self: start;
    width: 14rem;
  }
  .color-info__sample {
    display: inline;
  }
}
