.swatches {
  grid-area: 4 / 2;
  min-width: 4rem;
  width: 1fr;
  cursor: pointer;
}

.swatches__samples {
  display: flex;
  height: 2rem;
}

.samples__color {
  width: 100%;
  height: 100%;
}

@media (min-width: 600px) {
  .swatches {
    grid-area: 1 / 3 / 3 / 3;
  }
  .swatches__samples {
    height: 3.6rem;
  }
}
