.swatches {
  grid-area: 3 / 2;
}

.swatches__samples {
  display: flex;
  width: 1fr;
  height: 2.5rem;
}

.samples__color {
  width: 100%;
  height: 100%;
}

@media (min-width: 600px) {
  .swatches {
    grid-area: 1 / 3;
  }
}
