.color-input {
  grid-area: 2 / 2;
  align-self: start;
  margin: 2rem 0;
  width: 50%;
  justify-self: left;
  color: var(--color-main);
}

.color-input__element {
  width: 100%;
}

@media (min-width: 600px) {
}

@media (min-width: 900px) {
  .color-input {
    width: 30%;
  }
}
