.hsv {
  grid-area: 1 / 2;
  display: flex;
  position: relative;
}

.canvas--picking {
  cursor: crosshair;
}

.canvas--picked {
  cursor: pointer;
}

.color--picked {
  position: absolute;
  right: 9vw;
  cursor: default;
  animation: picked 0.1s ease-in;
}

.range--value {
  align-self: center;
  transform: rotate(-90deg);
  color: var(--color-main);
  margin: 0 0.5rem;
}

.range--value__input {
  cursor: pointer;
  background: linear-gradient(-90deg, #fff, #000);
}

@keyframes picked {
  from {
    transform: scale(2);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
