.hsv {
  grid-area: 1 / 2;
  display: flex;
}

.hsv__canvas {
}

.hsv__canvas--cursor {
  cursor: crosshair;
}

.range--value {
  align-self: center;
  transform: rotate(-90deg);
}

.range--value__input {
  cursor: pointer;
  background: linear-gradient(-90deg, #fff, #000);
}
