canvas {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.hsv {
  grid-area: 1 / 2;
  display: flex;
  position: relative;
}

.canvas--picking {
  cursor: crosshair;
}

.canvas--picked {
  cursor: pointer;
}

.color--picked {
  position: absolute;
  right: 9vw;
}

.range--value {
  align-self: center;
  transform: rotate(-90deg);
}

.range--value__input {
  cursor: pointer;
  background: linear-gradient(-90deg, #fff, #000);
}
