.schemes {
  display: flex;
  flex-direction: column;
  grid-area: 3 / 2;
  margin-top: 1em;
}

.scheme__label {
  cursor: pointer;
}

@media (min-width: 600px) {
  .schemes {
    grid-area: 2 / 1;
    margin-top: -30%;
  }
}

@media (min-width: 900px) {
}
